<footer class="C">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>О программе</h6>
                <p class="text-justify">
                    "Приложение 'Книжный клуб', после регистрации и авторизации позволяет пользователю выбрать из списка прочитанные им книги, после чего список выбранных книг отобразится в окне 'Моя библиотека'. 
                     Книги ранее отмеченные как прочитанные, можно удалить из списка прочитанных книг а затем добавить заново." 
                </p>
            </div>


        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    Copyright &copy; 2020 All Rights Reserved 
                </p>
            </div>

        
        </div>
    </div>
</footer>

 


